In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
	[ ['Jan',58,42,74,22,2.05],
	['Feb',61,45,78,26,3.02],
	['Mar',65,48,84,25,2.34],
	['Apr',67,50,92,28,1.02],
	['May',71,53,98,35,0.48],
	['Jun',75,56,107,41,0.11],
	['Jul',77,58,105,44,0.0],
	['Aug',77,59,102,43,0.03],
	['Sep',77,57,103,40,0.17],
	['Oct',73,54,96,34,0.81],
	['Nov',64,48,84,30,1.7],
	['Dec',58,42,73,21,2.56],
        ['Dec',58,42,73,21,2.56] ],
	columns = ['month','avg_high','avg_low','record_high','record_low','avg_precipitation'])

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.sort_values(["avg_high" , "record_high"] , ascending=[True , False])

In [ ]:
df["record_low"] #.[] is not recommended

In [ ]:
df["naujas"] = [x for x in range(5, 5+len(df))]
df

In [ ]:
#df doesn't overwrite, use = on new vars

In [ ]:
df.loc[9] # works by value of index, iloc for factual index

In [ ]:
df.to_csv("duombai.csv")

In [38]:
df = pd.read_csv("LT.csv")
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [ ]:
df[ (df["home_team"] == "Lithuania" ) & (df["home_score"] >=2) ]
#look up bitwise operators , ~ filters out described values

In [ ]:
df[ df["city"].isin(["Vilnius" , "Kaunas"])]

In [ ]:
df.groupby("home_team").sum()

In [ ]:
df.sort_values("date")

In [36]:
df = df.rename(columns={"tourniment" : "tournament"}, inplace=True)

In [41]:
tournament_df = df[ df["away_team" ] == "Lithuania" ].groupby("tourniment")[["home_score" , "away_score"]].sum()

In [42]:
tournament_df.loc["FIFA World Cup qualification"]

home_score    80
away_score    29
Name: FIFA World Cup qualification, dtype: int64